:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #DDDDDD;
    --hover-color: #EBEBEB;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin: 0 auto;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    /* margin-left: -10px;
    margin-right: -10px; */
}

.grid__col-3{
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% / 3);
}

.grid__col-4{
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
}

.grid__col-2{
    padding-left: 10px;
    padding-right: 10px;
    width: 16.6667%;
}

.grid__col-2-4{
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
}

.grid__col-10{
    padding-left: 10px;
    padding-right: 10px;
    width: 83.3333%;
}

ul{
    margin: 0;
    padding: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
 /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #222;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #222;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
  }

.pointer-error{
    cursor: not-allowed;
    filter: opacity(0.4);
}

/* Slides */
.slides{
    overflow: hidden;
    display: flex;
    /* flex-wrap: nowrap; */
    position: relative;
    height: 100%;
}

.slide-item{
    min-width: 33.33%;
}

.slide-button{
    position: absolute;
    top: 50%;
    font-size: 2rem;
    color: var(--text-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    text-align: center;
    line-height: 3rem;
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.prev{
    left: -10px;
    transform: translate( 50%,-100%);
}

.next{
    right: -10px;
    transform: translate( -50%, -100%);
}